In [1]:
import pandas as pd
dataset=pd.read_csv('general_data_updated.csv')
dataset.head()

,Age,Attrition,BusinessTravel,Department,dis_yes,dis_no,DistanceFromHome,edu_yes,edu_no,Education,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,0,6,6,0,2,2,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,0,10,1,0,1,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,0,17,17,0,4,4,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,0,2,2,0,5,5,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,0,10,10,0,1,1,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [2]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'dis_yes', 'dis_no',
       'DistanceFromHome', 'edu_yes', 'edu_no', 'Education', 'EducationField',
       'EmployeeCount', 'EmployeeID', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'mon_yes', 'mon_no', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [3]:
from scipy.stats import mannwhitneyu
a1=dataset.dis_yes
a2=dataset.dis_no
stat, p=mannwhitneyu(a1,a2)
print(stat, p)

3132625.5 0.0

As the P value of 0.0 is < 0.05, the H0 is rejected and Ha is accepted.
H0: There is no significant differences in the Distance From Home between attrition (Y) and attirition
(N)
Ha: There is significant differences in the Distance From Home between attrition (Y) and attirition (N)

In [4]:
from scipy.stats import mannwhitneyu
a1=dataset.edu_yes
a2=dataset.edu_no
stat, p=mannwhitneyu(a1,a2)
print(stat, p)

3100662.0 0.0

As the P value of 0.0 is < 0.05, the H0 is rejected and Ha is accepted.
H0: There is no significant differences in the Education between attrition (Y) and attirition
(N)
Ha: There is significant differences in the Education between attrition (Y) and attirition (N)

In [5]:
from scipy.stats import mannwhitneyu
a1=dataset.mon_yes
a2=dataset.mon_no
stat, p=mannwhitneyu(a1,a2)
print(stat, p)

3085416.0 0.0

As the P value is again 0.0, which is < than 0.05, the H0 is rejected and ha is accepted.
H0: There is no significant differences in the income between attrition (Y) and attirition (N)
Ha: There is significant differences in the income between attrition (Y) and attirition (N)